<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <title>Expense and Income Manager</title>
  <style>
    body {
      margin: 0px
    }
  </style>
</head>
<body>
    <div id="app" ><!-- React --></div>
    <div id="insertion-point-jss"></div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>